<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @employee.nickname %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @employee.full_name %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @employee.shop_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department_id %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
